{% extends 'customerBase.html' %}
{% load static %} 

{% block title %}Evento - {{event.name}}{% endblock title%}

{% block style %}  
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerEvent.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerTickets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerBuy.css' %}">

<script>
let but;
let modal;
document.addEventListener("DOMContentLoaded", function() {
    but = document.getElementById('button');
    modal = document.getElementById('modal');
    window.onclick = function (event) {
        if (event.target == modal) {
                        
            modal.style.display = 'none';
        }
    };
});

    function checkQuantities() {
        var quantities = document.querySelectorAll('[data-quantity]');
        var anyNonZero = false;

        quantities.forEach(function (quantityElement) {
            var quantity = quantityElement.innerHTML;
            if (quantity > 0) {
                anyNonZero = true;
            }
        });

        if (anyNonZero) {
            but.className = "buy";
        } else {
            but.className = "inactive";
        }
    }

    function incrementQuantity(ticketIndex) {
        var quantityElement = document.getElementById('quantity' + ticketIndex);
        var currentQuantity = parseInt(quantityElement.innerText);
        var newQuantity = currentQuantity + 1;
        quantityElement.innerText = newQuantity;
        checkQuantities();
    }

    function decrementQuantity(ticketIndex) {
        var quantityElement = document.getElementById('quantity' + ticketIndex);
        var currentQuantity = parseInt(quantityElement.innerText);
        if (currentQuantity >= 1) {
            var newQuantity = currentQuantity - 1;
        } else {
            var newQuantity = currentQuantity;
        }
        quantityElement.innerText = newQuantity;
        checkQuantities();
    }

    function openPayment(){
        if(but.className == "buy"){
            modal.style.display = "flex"
        }
    }

</script>
{% endblock style %}



{% block content %}
<div style="display: flex;flex-direction: row; height: 100%;">
<div class="splashImageWeb" style="background-image: url({{event.splash_images.url}}); background-size: 40vw;"></div>
<div class="splashImage" style="background-image: url({{event.splash_images.url}}); background-size: 100vw;">
    <div class="aboutContent">
        <h1 id="eventName">{{event.name}}</h1>
        <div class="divLine"></div>
        <div id="tabs">
            <a href="{% url 'qualafesta:aboutEvent' event.id%}"><h3 class="tabName" >SOBRE</h3></a>
            <a href="{% url 'qualafesta:attractionsEvent' event.id%}"><h3 class="tabName " >ATRAÇÕES</h3></a>
            <a href="{% url 'qualafesta:ticketsEvent' event.id%}"><h3 class="tabName" style="color: #4B02B3;">INGRESSOS</h3></a>
        </div>
        {% if event.ticketcattegory_set.all %}
        <div style=" width: 100%; flex-grow: 1; display: flex; flex-direction: column; align-items: center; justify-content: start; overflow-y: scroll;">
            {% for ticket in event.ticketcattegory_set.all %}
                <div class="paymentColor " style="background-color: #4B02B3;">
                <div class="ticketCard">
                    
                    <img class="thumb" src="{{ticket.event_id.thumb_image.url}}"/>
                    <div>
                    <h2 style="font-size: 2rem;">{{ ticket.name }}</h2>
                    <h3  class="categName" style="font-weight: 500; font-size: 1.5rem;">R$ {{ ticket.price }}</h2>
                    
                    </div>
                    <a class="qntBut" onclick="decrementQuantity('{{ forloop.counter }}')">
                        <h2 style="font-size: 4rem;">-</h2>
                    </a>
                    <h2 style="font-size: 3rem;" id="quantity{{ forloop.counter }}" data-quantity="{{ ticket.quantity }}">0 </h2>
                    <a class="qntBut" onclick="incrementQuantity('{{ forloop.counter }}')" >
                        <h2 style="font-size: 4rem;">+ </h2>
                    </a>
                </div>
                </div>
            
            {% endfor %}
        </div>
        {% else %}
        <div style=" width: 100%; flex-grow: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="font-size: 2rem; font-weight: 500; text-align: center;"> AINDA NÃO HA INGRESSOS DISPONÍVEIS PARA COMPRA NESSE EVENTO.</p>
        </div>
        {%endif%}
    </div>
</div>
</div>

<button id="button" class="inactive" onclick="openPayment()">FINALIZAR COMPRA</button>

<div id="modal">
    <div id="modalContent">
    </div>
</div>


{% endblock content %}