{% extends 'customerBase.html' %}
{% load static %} 

{% block title %}Evento - {{event.name}}{% endblock title%}

{% block style %}  
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerEvent.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerTickets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerBuy.css' %}">

<script>
let but;
let modal;
let CN;
let ED;
let CVV;
let totalPrice = 0;
let priceTag;
let modal2;
let quantities;

document.addEventListener("DOMContentLoaded", function() {
    quantities = document.querySelectorAll('[data-quantity]');
    but = document.getElementById('button');
    modal = document.getElementById('modal');
    modal2 = document.getElementById('modal2');
    window.onclick = function (event) {
        if (event.target == modal || event.target== modal2) {
                        
            modal.style.display = 'none';
            modal2.style.display = 'none';
            totalPrice = 0;
        }
    };
    CN = document.getElementById('cardNumber');
    CN.addEventListener('input', function (event) {
        var input = event.target;
        var value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
        var formattedValue = formatCardNumber(value);
        input.value = formattedValue;
    });
    ED = document.getElementById('expiryDate');
    ED.addEventListener('input', function (event) {
        var input = event.target;
        var value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
        var formattedValue = formatExpiryDate(value);
        input.value = formattedValue;
    });

    CVV =document.getElementById('validationCode');
    priceTag =document.getElementById('totalPrice');
});

    function checkQuantities() {
        
        var anyNonZero = false;

        quantities.forEach(function (quantityElement) {
            var quantity = quantityElement.innerHTML;
            if (quantity > 0) {
                anyNonZero = true;
            }
        });

        if (anyNonZero) {
            but.className = "buy";
        } else {
            but.className = "inactive";
        }
    }

    function incrementQuantity(ticketIndex, price) {
     
        var quantityElement = document.getElementById('quantity' + ticketIndex);
        var currentQuantity = parseInt(quantityElement.innerText);
        var newQuantity = currentQuantity + 1;
        quantityElement.innerText = newQuantity;
        totalPrice = totalPrice + parseFloat(price);
        console.log(totalPrice)
        checkQuantities();
    }

    function decrementQuantity(ticketIndex, price) {
        var quantityElement = document.getElementById('quantity' + ticketIndex);
        var currentQuantity = parseInt(quantityElement.innerText);
        if (currentQuantity >= 1) {
            var newQuantity = currentQuantity - 1;
            totalPrice = totalPrice - parseFloat(price);
            console.log(totalPrice);
        } else {
            var newQuantity = currentQuantity;
        }
        quantityElement.innerText = newQuantity;
        checkQuantities();
    }

    function openPayment(){
        if(but.className == "buy"){
            modal.style.display = "flex"
            priceTag.innerHTML = "Valor total: R$ "+ totalPrice.toFixed(2)
            CN.value='';
            ED.value='';
            CVV.value='';
        }
    }


    function formatCardNumber(value) {
        var formatted = value.replace(/\s/g, '').replace(/(\d{4})/g, '$1 ').trim();
        return formatted;
    }

    function formatExpiryDate(value) {
        var formatted = value.replace(/\s/g, '').replace(/(\d{2})(\d{2})/, '$1/$2').trim();
        return formatted;
    }
    function getCookie(name) {
    const cookieValue = document.cookie
        .split('; ')
        .find(row => row.startsWith(name + '='))
        .split('=')[1];
    return cookieValue ? decodeURIComponent(cookieValue) : null;
}   

function pay() {
    if (CN.value && ED.value && CVV.value) {
        fetch('/customer/create_order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ total_price: totalPrice.toFixed(2) }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Order created successfully, now create purchased tickets
                const order_id = data.order_id;
                const selectedTickets = [];

                quantities.forEach(function (quantityElement, index) {
                    const quantity = parseInt(quantityElement.innerText);
                    if (quantity > 0) {
                        const ticket_category_id = index + 1;  // Modify as needed
                        selectedTickets.push({ ticket_category_id, quantity });
                    }
                });

                // Send data to create_purchased_tickets view
                fetch('/customer/create_purchased_tickets/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({
                        total_price: totalPrice.toFixed(2),
                        order_id,
                        selected_tickets: selectedTickets,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Handle success (e.g., show a success message)
                        console.log('Purchased tickets created successfully');
                        modal.style.display = 'none';
                        modal2.style.display = 'flex';
                        quantities.forEach(function (quantityElement) {
                        quantityElement.innerHTML = 0;
                });
                but.className = 'inactive';
                    } else {
                        // Handle the case where purchased ticket creation failed
                        console.error('Failed to create purchased tickets:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Error creating purchased tickets:', error);
                });
            } else {
                // Handle the case where order creation failed
                console.error('Failed to create order:', data.error);
            }
        })
        .catch(error => {
            console.error('Error creating order:', error);
        });
    } else {
        alert('All input formats are not valid!');
    }
}
    function closemodal(){
        modal2.style.display = "none";
        console.log("fechar");
        totalPrice = 0;
    }

</script>
{% endblock style %}



{% block content %}
<div style="display: flex;flex-direction: row; height: 100%;">
<div class="splashImageWeb" style="background-image: url({{event.splash_images.url}}); background-size: 40vw;"></div>
<div class="splashImage" style="background-image: url({{event.splash_images.url}}); background-size: 100vw;">
    <div class="aboutContent">
        <h1 id="eventName">{{event.name}}</h1>
        <div class="divLine"></div>
        <div id="tabs">
            <a href="{% url 'qualafesta:aboutEvent' event.id%}"><h3 class="tabName" >SOBRE</h3></a>
            <a href="{% url 'qualafesta:attractionsEvent' event.id%}"><h3 class="tabName " >ATRAÇÕES</h3></a>
            <a href="{% url 'qualafesta:ticketsEvent' event.id%}"><h3 class="tabName" style="color: #4B02B3;">INGRESSOS</h3></a>
        </div>
        {% if event.ticketcattegory_set.all %}
        <div style=" width: 100%; flex-grow: 1; display: flex; flex-direction: column; align-items: center; justify-content: start; overflow-y: scroll;">
            {% for ticket in event.ticketcattegory_set.all %}
                <div class="paymentColor " style="background-color: #4B02B3;">
                <div class="ticketCard">
                    
                    <img class="thumb" src="{{ticket.event_id.thumb_image.url}}"/>
                    <div>
                    <h2 style="font-size: 2rem;">{{ ticket.name }}</h2>
                    <h3  id="price{{ forloop.counter }}" class="categName" style="font-weight: 500; font-size: 1.5rem;">R$ {{ ticket.price }}</h2>
                    
                    </div>
                    {%if ticket.capacity > ticket.sold_amount  %}
                    <a class="qntBut" onclick="decrementQuantity('{{ forloop.counter }}', '{{ ticket.price }}')">
                        <h2 style="font-size: 4rem;">-</h2>
                    </a>
                    <h2 style="font-size: 3rem;" id="quantity{{ forloop.counter }}" data-quantity="{{ ticket.quantity }}">0 </h2>
                    <a class="qntBut" onclick="incrementQuantity('{{ forloop.counter }}', '{{ ticket.price }}')" >
                        <h2 style="font-size: 4rem;">+ </h2>
                    </a>
                    {% else %}
                    <p style="font-size: 2rem; font-weight: 600;">ESGOTADO</p>
                    {% endif %}
                </div>
                </div>
            
            {% endfor %}
        </div>
        {% else %}
        <div style=" width: 100%; flex-grow: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="font-size: 2rem; font-weight: 500; text-align: center;"> AINDA NÃO HA INGRESSOS DISPONÍVEIS PARA COMPRA NESSE EVENTO.</p>
        </div>
        {%endif%}
    </div>
</div>
</div>

<button id="button" class="inactive" onclick="openPayment()">FINALIZAR COMPRA</button>

<div id="modal">
    <div id="modalContent">
        <p id="totalPrice" style="font-size: 2rem;">Valor total: </p>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="Número do cartão" />
        <input type="text" id="expiryDate" name="expiryDate" placeholder="Data de expiração (MM/YY)" />
        <input type="text" id="validationCode" name="validationCode" placeholder="CVV" />
        <button id="buttonPay" class="pay" onclick="pay()">PAGAR</button>
    </div>
</div>

<div id="modal2">
    <div id="modalContent2">
        <p style="text-align: center;">COMPRA CONCLUÍDA COM SUCESSO!</p>
        <button id="close" class="pay" onclick="closemodal()">OK</button>
    </div>
</div>


{% endblock content %}