{% extends 'customerBase.html' %}
{% load static %} 

{% block title %}Evento - {{event.name}}{% endblock title%}

{% block style %}  
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerEvent.css' %}">
{% endblock style %}



{% block content %}
<div style="display: flex;flex-direction: row; height: 100%;">
<div class="splashImageWeb" style="background-image: url({{event.splash_images.url}}); background-size: 40vw;"></div>
<div class="splashImage" style="background-image: url({{event.splash_images.url}}); background-size: 100vw;">
    <div class="aboutContent">
        <h1 id="eventName">{{event.name}}</h1>
        <div class="divLine"></div>
        <div id="tabs">
            <a href="{% url 'qualafesta:aboutEvent' event.id%}"><h3 class="tabName" style="color: #4B02B3;">SOBRE</h3></a>
            <a href="{% url 'qualafesta:attractionsEvent' event.id%}"><h3 class="tabName">ATRAÇÕES</h3></a>
            <a href="{% url 'qualafesta:ticketsEvent' event.id%}"><h3 class="tabName">INGRESSOS</h3></a>
        </div>
        <div style="overflow-y: scroll;">
        <h3 class="sectionName">DESCRIÇÃO</h3>
        <p class="eventInfo">{{event.description}}</p>
        <h3 class="sectionName">INFORMAÇÕES</h3>
        <p class="eventInfo">DATA: {{event.date_time|date:"d/m/Y, H:i"}}</p>
        <p class="eventInfo">LOCAL: {{event.location}}</p>
        </div>
        

    </div>
</div>
</div>

{% endblock content %}