/* Reset de estilos para garantir consistência entre navegadores */


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 40vw; /* Aumenta o tamanho horizontal em 80% */
    background-color: #e0e0e0; /* Cor roxa para o botão */
    color: #000;
    padding: 15px 40px; /* Aumenta o preenchimento do botão */
    border: none;
    cursor: pointer;
    font-size: 20px; /* Aumenta o tamanho da fonte para 20px */
    text-decoration: none; /* Remover sublinhado do botão */
    margin-bottom: 40px; /* Ajuste a margem inferior conforme necessário */
    border-radius: 3rem;
}

.button {
    width: 30%; /* Aumenta o tamanho horizontal em 80% */
    background-color: #6a0dad; /* Cor roxa para o botão */
    color: #fff;
    padding: 15px 40px; /* Aumenta o preenchimento do botão */
    border: none;
    cursor: pointer;
    font-size: 20px; /* Aumenta o tamanho da fonte para 20px */
    text-decoration: none; /* Remover sublinhado do botão */
    margin-bottom: 40px; /* Ajuste a margem inferior conforme necessário */
    border-radius: 3rem;
}

button:hover {
    background-color: #4b0082; /* Tom mais escuro de roxo para o efeito hover */
}

.lista-de-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 100px;
    background-color: #f0e6f8; /* Fundo roxo claro para os cards */
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Remover sublinhado dos links */
a {
    text-decoration: none;
}




@media only screen and (max-width: 767px) {
    input {
        width: 90vw; /* Aumenta o tamanho horizontal em 80% */
        background-color: #e0e0e0; /* Cor roxa para o botão */
        color: #000;
        padding: 15px 40px; /* Aumenta o preenchimento do botão */
        border: none;
        cursor: pointer;
        font-size: 20px; /* Aumenta o tamanho da fonte para 20px */
        text-decoration: none; /* Remover sublinhado do botão */
        margin-bottom: 40px; /* Ajuste a margem inferior conforme necessário */
        border-radius: 3rem;
        margin: 5vw;
        box-sizing: border-box;
    }

    .button {
        width: 40vw; /* Aumenta o tamanho horizontal em 80% */
        background-color: #6a0dad; /* Cor roxa para o botão */
        color: #fff;
        padding: 15px 40px; /* Aumenta o preenchimento do botão */
        border: none;
        cursor: pointer;
        font-size: 20px; /* Aumenta o tamanho da fonte para 20px */
        text-decoration: none; /* Remover sublinhado do botão */
        margin-bottom: 40px; /* Ajuste a margem inferior conforme necessário */
        border-radius: 3rem;
        margin: 0 30vw;
    }

}
