{% extends 'organizerBase.html' %}
{% load static %}

{% block title %}
organizer
{% endblock title %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'organizerCSS/events_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerEvent.css' %}">

{% endblock style%}

{% block content %}
<div class="header">
    <div style="display: flex; flex-direction: row; align-items: center; gap: 1.5rem;">
        <img class="profileImage"
            src="{% if user_instance.profile_image %}{{user_instance.profile_image.url}}{% else %} /media/images/profile_default.png{%endif%}" />
        <div class="headerInfo">
            <h2 class="userName">Olá, {{request.user.first_name}} {{request.user.last_name}}!</h2>
            <p class="welcome">Bem-vindo ao App Qualafesta!</p>
        </div>
    </div>
    <a href="/logout"><img src="{% static '/images/logoutIcon.svg' %}" style="width: 2.5rem; margin: 0 1.5rem;"></a>
</div>
<h1>MEUS EVENTOS</h1>

{% if user.is_authenticated %}
<p>Eventos do organizador</p>
<div class="events-section">
    {% if event_list %}
    {% for event in event_list %}
    <div class="artistCard"> 
        <img  width="9rem" height="10.5rem" class="artistImage" src = "{% if event.thumb_image %}{{event.thumb_image.url}}{% else %} /media/images/profile_default.png{%endif%}"/> 
        <div class="artistInfo">

        <a href="{% url 'qualafesta:detail_event' event.id%}" style="text-decoration: none; color: black;">
            <h2 style="font-size: 2.5rem;">{{event.name}}</h2>
        </a>
            <h3 style="font-size: 1.7rem;">{{event.date_time|date:"d/m/Y - H:i"}}</h3>

        </div>
        </div>
    {% endfor %}
    {% else %}
    <p>Sem eventos disponíveis</p>
    {% endif %}
    <a href="{% url 'qualafesta:create_event' %}" style="margin-top: 2.5vh; margin-bottom: 5vh; text-decoration: none;"><button
            class="add-button" style="border: 0;">+ Adicionar</button></a>
</div>

{% else %}
<p id='not-auth'>FAÇA O LOGIN PARA TER ACESSO À PÁGINA</p>
{% endif %}

{% endblock %}