{% extends 'organizerBase.html' %}
{% load static %}

{% block title %}
organizer
{% endblock title %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'organizerCSS/events_page.css' %}">
{% endblock style%}

{% block content %}
<div class="header">
    <div style="display: flex; flex-direction: row; align-items: center; gap: 1.5rem;">
        <img class="profileImage"
            src="{% if user_instance.profile_image %}{{user_instance.profile_image.url}}{% else %} /media/images/profile_default.png{%endif%}" />
        <div class="headerInfo">
            <h2 class="userName">Olá, {{request.user.first_name}} {{request.user.last_name}}!</h2>
            <p class="welcome">Bem-vindo ao App Qualafesta!</p>
        </div>
    </div>
    <a href="/logout"><img src="{% static '/images/logoutIcon.svg' %}" style="width: 2.5rem; margin: 0 1.5rem;"></a>
</div>
<h1>Meus Eventos</h1>


{% if user.is_authenticated %}
<p>eventos do organizador</p>

<section id="events-section">
    <button class="add-button">+ Adicionar</button>
</section>

{% else %}
<p id='not-auth'>FAÇA O LOGIN PARA TER ACESSO À PÁGINA</p>
{% endif %}


{% endblock %}