{% extends 'acessControllerBase.html' %}
{% load static %} 

{% block content %}
<div class="eventsSpot">
    {% for event in event_list %}
    <div class="controllContent">
        <img class="splashImageWeb" src="{{event.splash_images.url}}" alt="">
        <div class="aboutContent">
            <h1 id="eventName">{{event.name}}</h1>
            <h2 id="eventName">{{event.date_time}}</h2>
        </div>
        <a class="controll" href="{% url 'qualafesta:controll_event' event.id%}">Controlar</a>
    </div>
{% endfor %}
</div>
{% endblock content %}