{% extends 'customerBase.html' %}
{% load static %} 

{% block title %}Evento - {{event.name}}{% endblock title%}

{% block style %}  
<!--<link rel="stylesheet" type="text/css" href="{% static 'customerCSS/customerEvent.css' %}">-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');

    // Obter acesso à câmera do usuário
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
            // Chama a função para processar cada quadro
            setInterval(processVideo, 1000); // Chama a cada segundo
        })
        .catch(err => {
            console.error('Erro ao acessar a câmera: ', err);
        });

    function processVideo() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        // Converter o canvas para base64
        const imageBase64 = canvas.toDataURL('image/png');

        canvas.toBlob(blob => {
            //const formData = new FormData();
            //formData.append('image', blob, 'image.png');
            jsonData = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ image: imageBase64 })
        };
            console.log('jsonData', jsonData)

            fetch('/scan/', jsonData)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Faça algo com os dados do QR code decodificado
            })
            .catch(error => {
                console.error('Erro ao enviar imagem: ', error);
            });
        }, 'image/png');
    }
});
</script>
{% endblock style %}


{% block content %}
<h1>{{event.name}}</h2>
<!--<video id="video" width="640" height="480" autoplay></video>
<canvas id="canvas" style="display:none;"></canvas>-->
<form action="{% url 'qualafesta:ticket_detail'  %}">
    <p>
        <input class="input_cattegory" type="text" name="query" id="id_query" />
    </p>
    <button class="search" type="submit">Buscar</button>
</form> 
<!--<div style="display: flex;flex-direction: row; height: 100%;">
<div class="splashImageWeb" style="background-image: url({{event.splash_images.url}}); background-size: 40vw;"></div>
<div class="splashImage" style="background-image: url({{event.splash_images.url}}); background-size: 100vw;">
    <div class="aboutContent">
        <h1 id="eventName">{{event.name}}</h1>
        <div class="divLine"></div>
        <div id="tabs">
            <a href="{% url 'qualafesta:aboutEvent' event.id%}"><h3 class="tabName" style="color: #4B02B3;">SOBRE</h3></a>
            <a href="{% url 'qualafesta:attractionsEvent' event.id%}"><h3 class="tabName">ATRAÇÕES</h3></a>
            <a><h3 class="tabName">INGRESSOS</h3></a>
        </div>
        <div style="overflow-y: scroll;">
        <h3 class="sectionName">DESCRIÇÃO</h3>
        <p class="eventInfo">{{event.description}}</p>
        <h3 class="sectionName">INFORMAÇÕES</h3>
        <p class="eventInfo">DATA: {{event.date_time|date:"d/m/Y, H:i"}}</p>
        <p class="eventInfo">LOCAL: {{event.location}}</p>
        </div>
        

    </div>
</div>
</div>
-->
{% endblock content %} 