{% extends 'acessControllerBase.html' %}
{% load static %} 
{% block title %}{% endblock title%}
{% block style %}{% endblock style %}
{% block content %}
{% if correct %}
<div class="eventsSpot" style="gap:3vh">
    <div class="aboutContent">
        <h1 id="eventName">Cliente: {{first_name}} {{last_name}}</h1>
    </div>
    <img style="height: 50vh; width: 50vh; overflow: hidden; border-radius:20px;" src="{% get_media_prefix %}{{ profile_image }}" alt="Imagem de perfil">
    <a class="controll" href="{% url 'qualafesta:validate_ticket' event_id=event_id ticket_hash=ticket_hash%}">Validar</a>
</div>

{% else %}
<div class="aboutContent">
    <h1 id="eventName">{{error_message}}</h1>
    <a class="controll" href="{% url 'qualafesta:controll_event' pk=event_id%}">Voltar</a>
</div>
{% endif %}

{% endblock content %}