.edit-button {
    display: flex;
    flex-direction: row;
    height: 36px;
    padding: 8px;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--E, #fafafa);
    color: white;
}

.add-button {
    display: flex;
    width: 160px;
    height: 36px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--E, #4B02B3);
    color: white;
}