{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'acessControllerCSS/acessControllerMain.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap&subset=latin-ext" rel="stylesheet">
    {% block style %}  {% endblock style %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body >
    <header>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 1.5rem;">
            <img style="width: 6rem; height: 6rem; border-radius: 7rem;" src="{% if acess_controller.profile_image %}{{acess_controller.profile_image.url}}{% else %} /media/images/profile_default.png{%endif%}"/>
            <div class="headerInfo">
                <h2 class="userName">Olá, {{request.user.first_name}} {{request.user.last_name}}!</h2>
                <p class="welcome">Bem-vindo ao App Qualafesta!</p>
            </div>
        </div>
        <a href="{% url 'qualafesta:logout' %}"><img src="{% static '/images/logoutIcon.svg' %}" style="width: 2.5rem; margin: 0 1.5rem;"></a>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>