

.eventsSpot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1vh;
    height: 90%;
    width: 100%;
}

.userProfileImage{
    border: solid;
    height: 25vh;
    width: 25vw;
    overflow: hidden;
}

.input_cattegory{
    border: blueviolet solid;
    border-radius: 2vh;
    width: 30vw;
    height: 6vh;
    padding-left: 1vw;
    font-size: 2rem;
}

button.search{
    margin: 2vh;
    width: 20vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: blueviolet solid;
    color: #FFF;
    background-color: blueviolet;
    border-radius: 1vh;
    font-weight: 600;
    font-size: medium;    
    text-decoration: none;
    cursor: pointer;
}

form.formHash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





.controllContent{
    margin-left: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    padding: 5vh;
    background: var(--Surface, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.splashImageWeb{
    border-radius: 3vh;
    height: 25vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: blueviolet;
    overflow: hidden;
    border: solid;
}

.aboutContent{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

a.controll{
    margin: 2vh;
    width: 20vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: blueviolet solid;
    color: #FFF;
    background-color: blueviolet;
    border-radius: 1vh;
    font-weight: 600;
    font-size: medium;    
    text-decoration: none;
}
.bodyNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.userImage{
    height: 50vh; 
    width: 50vh
}

@media only screen and (max-width: 767px) {
   
    .controllContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2vh;
        padding: 5vh;
        background: var(--Surface, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .input_cattegory{
        border: blueviolet solid;
        border-radius: 2vh;
        width: 80vw;
        height: 6vh;
        padding-left: 1vw;
    }
    button.search{
        margin: 2vh;
        width: 30vw;
        height: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: blueviolet solid;
        color: #FFF;
        background-color: blueviolet;
        border-radius: 1vh;
        font-weight: 600;
        font-size: medium;    
        text-decoration: none;
        cursor: pointer;
    }

    .eventsSpot{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1vh;
        height: 100%;
        width: 100%;
        margin-bottom: 12vh;
        margin-left: 0;
    }
    .userImage{
        height: 70vw; 
        width: 70vw
    }
    a.controll{
        margin: 2vh;
        width: 50vw;
        height: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: blueviolet solid;
        color: #FFF;
        background-color: blueviolet;
        border-radius: 1vh;
        font-weight: 600;
        font-size: 2.5rem;    
        text-decoration: none;
    }

    


    
}