
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}


header{
    display: flex;
    width: 100vw;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;    
}

.headerInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userName{
    color: #1E2732; 
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    font-feature-settings: 'clig' off, 'liga' off;
}

.welcome{
    color: #1E2732;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    margin: 1rem 0;
}

.profileImage{
    width: 6rem;
    height: 6rem;
    border-radius: 7rem;
}
.eventsSpot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 6vh;
    height: 100%;
}

.userProfileImage{
    border: solid;
    height: 25vh;
    width: 25vw;
    overflow: hidden;
    border: orange solid;
}

.input_cattegory{
    border: blueviolet solid;
    border-radius: 2vh;
    width: 30vw;
    height: 6vh;
    padding-left: 1vw;
}

button.search{
    margin: 2vh;
    width: 14vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: blueviolet solid;
    color: #FFF;
    background-color: blueviolet;
    border-radius: 1vh;
    font-weight: 600;
    font-size: medium;    
    text-decoration: none;
}

form.formHash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 4.75rem;
    height: 4.4375rem;
    flex-shrink: 0;
}

.navIcon{
    width: 4rem;
}

#navIconCal{
    width: 5.8rem;
}

.controllContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 2vh;
    padding: 5vh;
}

.splashImageWeb{
    border-radius: 3vh;
    height: 25vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: blueviolet;
    overflow: hidden;
    border: solid;
}

.aboutContent{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

a.controll{
    margin: 2vh;
    width: 14vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: blueviolet solid;
    color: #FFF;
    background-color: blueviolet;
    border-radius: 1vh;
    font-weight: 600;
    font-size: medium;    
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
   
    .controllContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid;
        border-radius: 2vh;
        padding: 5vh;
    }
    .logo{
        display: none;
        flex: 0;
    }

    .hideWhenMobile{
        display: none;
        flex: 0;
    
    }
}